<div class="container">

<h1>Editing Category</h1>

<%= render 'form', category: @category %>

<button><%= link_to 'Show', @category %></button>
<button><%= link_to 'Back', categories_path %></button>

</div>
